public/flow/mqtt_to_mongodb.json
[{"id":"9bb74a02.949668","type":"debug","z":"36916f46.c1c7b","name":"","active":true,"console":"false","complete":"payload","x":486.4000244140625,"y":148.39998626708984,"wires":[]},{"id":"569a8347.08f46c","type":"function","z":"36916f46.c1c7b","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('parse reject');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":304.77503967285156,"y":226.78671264648438,"wires":[["ecaf5d9.fb715a"]]},{"id":"ecaf5d9.fb715a","type":"function","z":"36916f46.c1c7b","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\nnode.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":582.7788848876953,"y":231.28671264648438,"wires":[["cb840928.e67988"]]},{"id":"cb840928.e67988","type":"debug","z":"36916f46.c1c7b","name":"","active":false,"console":"false","complete":"false","x":917.7828216552734,"y":227.93515014648438,"wires":[]},{"id":"d514fc2a.a3bf4","type":"mqtt in","z":"36916f46.c1c7b","name":"mqtt","topic":"client/200000109/200000109-GIOT-MAKER","qos":"2","broker":"a07c9102.e4f06","x":245.40003967285156,"y":149.0111083984375,"wires":[["9bb74a02.949668","569a8347.08f46c"]]},{"id":"1787955f.0a304b","type":"inject","z":"36916f46.c1c7b","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":289.3999938964844,"y":396.39998626708984,"wires":[["550dd12c.faf3a"]]},{"id":"550dd12c.faf3a","type":"function","z":"36916f46.c1c7b","name":"Save finalList to DB","func":"var msgTools = context.global.msgTools;\nvar listDbTools = context.global.listeDbTools;\nvar list = msgTools.getFinalList();\nnode.warn('list :'+JSON.stringify(list));\n//msgTools.saveFinalListToFile();\nlistDbTools.updateList('finalist',list,function(err,result){\n    if(err)\n        node.warn('Save final list to database err:'+err);\n    else\n         node.log('Save final list to database success');\n});\n\nreturn;","outputs":1,"noerr":0,"x":599.4039306640625,"y":399.5874557495117,"wires":[[]]},{"id":"606b003c.e6858","type":"comment","z":"36916f46.c1c7b","name":"Auto save finalList to file per 5 minutes","info":"","x":389.3960876464844,"y":356.04061126708984,"wires":[]},{"id":"a07c9102.e4f06","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000109-generic-service","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]